html {
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    background: linear-gradient(180deg, rgba(15, 44, 57, 0.95) 0%, rgba(6, 28, 38, 0.95) 100%);
}
