$header-height: 6rem;
$main-left-size: 24rem;
$main-center-size: 47rem;
$lightning-text: #8BE3FF;
$main-screen-size: 1440px;

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

.header {
    width: $main-screen-size;
    margin: 0 auto;
    height: 6rem;
    @include flex(center, center);
    position: relative;
    &__text {
        width: 267px;
        height: 30px;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 30px;
        text-align: center;
        letter-spacing: 1.355em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__line {
        position: absolute;
        width: 100%;
        top: 24px;
        @include flex(center, center);
    }
    &__blur-background {
        position: absolute;
        width: 405px;
        height: 34px;
        left: 518px;
        top: 27.5px;
    }
}

.main {
    width: $main-screen-size;
    height: calc(100vh - $header-height);
    margin: 0 auto;
    padding: 0 4rem;
    @include flex(center, space-between);
    &-left {
        width: $main-left-size;
        height: 100%;
        @include flex(flex-start, flex-start, nowrap, column);
        &__tabs {
            width: 100%;
            @include flex(stretch, space-between);
            line-height: 1.7;
            position: relative;
            &-border-bottom {
                position: absolute;
                width: 240px;
                height: 1px;
                left: 0px;
                top: 32px;
                background: #304752;
                z-index: -1;
            }
            &-characters,
            &-ship {
                position: relative;
                width: 50%;
                @include flex(center,center);
                p {
                    margin-left: 0.5rem;
                    font-weight: 600;
                    color: #E5E5E5;
                    text-transform: uppercase;
                }
                &__border {
                    position: absolute;
                    width: 127px;
                    height: 4px;
                    left: 0px;
                    bottom: -10px;
                    background: linear-gradient(90deg, #0A88B0 0%, #8BE3FF 100%);
                    border-radius: 16px;
                }
            }
            &-characters {
                p {
                    color: $lightning-text;
                }
            }
            &-ship {
                justify-content: flex-end;
            }
        }
        &__list {
            @include flex(flex-start, space-between, nowrap, column);
            margin-top: 4rem;
        }
    }
    &-center {
        width: $main-center-size;
        height: 100%;
        padding-top: 4rem;
        &__show {
            position: relative;
            display: flex;
            &-asset {
                position: absolute;
                width: 36rem;
                height: 36rem;
                left: calc((100% - 360px)/2);
                opacity: 0.3;
                z-index: -1;
            }
            &-ellipse {      
                position: absolute;
                width: 342.61px;
                height: 108.37px;
                left: 55.83px;
                top: 479.44px;
                background: #8BE3FF;
                opacity: 0.15;
                filter: blur(2.75689px);
                border-radius: 80%;
                z-index: -1;
            }
            &-blur-4 {
                position: absolute;
                width: 382.17px;
                height: 293.51px;
                left: 41.27px;
                top: 319.49px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.08) 100%);
                filter: blur(38.3114px);
                z-index: -3;
            }
            &-blur-1 {
                position: absolute;
                width: 445.51px;
                height: 464.11px;
                left: 9.85px;
                top: 111.1px;
                background: linear-gradient(180deg, rgba(139, 227, 255, 0) 0%, #00C1FF 100%);
                opacity: 0.2;
                filter: blur(37.2168px);
                z-index: -1;
            }
            &-blur-2 {
                position: absolute;
                width: 338.23px;
                height: 0px;
                left: 63.49px;
                top: 110.56px;
                z-index: -1;
                background: linear-gradient(180deg, rgba(139, 227, 255, 0) 0%, #00C1FF 100%);
                opacity: 0.2;
                filter: blur(37.2168px);
                z-index: -2;
            }
            &-blur-3 {
                position: absolute;
                width: 204.69px;
                height: 270.37px;
                left: 130.26px;
                top: 304.3px;
                background: linear-gradient(180deg, rgba(139, 227, 255, 0) 0%, #00C1FF 100%);
                opacity: 0.5;
                filter: blur(37.2168px);
                // z-index: -1;
            }
        }
    }

    &-right {
        width: calc(100% - $main-center-size - $main-left-size - 8rem);
        height: 100%;
        padding-top: 7.5rem;
        &__details {
            @include flex(stretch, flex-start, nowrap, column);
            width: 45.6rem;
            margin-left: auto;
            margin-right: 1rem;
            color: white;
            &-race {
                width: 16.3rem;
                @include flex(center,space-between);
                margin-bottom: 1.6rem;
                &__text {
                    font-size: 2.8rem;
                    line-height: 36px;
                    font-weight: 500;
                }
                &__dot {
                    width: 7.78px;
                    height: 7.78px;
                    background: linear-gradient(135deg, #8BE3FF 0%, #0A88B0 100%);
                    transform: rotate(45deg);
                    &:before {
                        content: '';
                        position: absolute;
                        left: 6px;
                        top: -2px;
                        width: 3.88px;
                        height: 3.88px;
                        border-top: 0.5px solid #8BE3FF;
                        border-left: 0.5px solid #8BE3FF;
                        opacity: 0.3;
                        transform: matrix(-1, 0, 0, 1, 0, 0);
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 3.88px;
                        height: 3.88px;
                        bottom: -2px;
                        right: 6px;
                        border-bottom: 1px solid #8BE3FF;
                        border-right: 1px solid #8BE3FF;
                        opacity: 0.3;
                        transform: matrix(-1, 0, 0, 1, 0, 0);
                    }
                }
            }
            &-info {
                font-weight: 400;
                line-height: 22px;
                margin-bottom: 4.8rem;
            }
            &-label {
                @include flex(center, flex-start);
                margin-bottom: 1rem;
                &__text {
                    height: 22px;
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 22px;
                    letter-spacing: 0.49em;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    margin-right: 1.6rem;
                }
                &__line {
                    position: relative;
                    width: 165px;
                    height: 1px;
                    background: linear-gradient(270deg, #257088 0%, rgba(37, 112, 136, 0) 100%);
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                    &-dot {
                        position: absolute;
                        width: 4.38px;
                        height: 4.38px;
                        left: 165px;
                        top: -1px;
                        background: #246D85;
                        transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
                    }
                }
            }
            &-gender {
                margin-bottom: 4.5rem;
                &__list {
                    @include flex(center);
                    gap: 0 16px;
                }
            }
            &-class {
                &__list {
                    width: 36rem;
                    @include flex(center, flex-start, wrap, row);
                    gap: 0 16px;
                }
            }
        }
    }
}

.character-item {
    width: 14rem;
    height: 14rem;
    @include flex(center, center);
    position: relative;
    margin-bottom: 1.5rem;
    &--sm {
        width: 7.8rem;
        height: 7.8rem;
    }
    &__blur-background {
        position: absolute;
        width: 13.2rem;
        height: 13.2rem;
        left: 4px;
        top: 4px;
        background: #8BE3FF;
        opacity: 0.1;
        z-index: -1;
        &--sm {
            width: 7.2rem;
            height: 7.2rem;
            top: 3px;
            left: 3px;
        }
    }
    &__border-top,
    &__border-bottom {
        position: absolute;
        width: 1px;
        height: 120px;
        left: 70px;
        top: -60px;
        background: #8BE3FF;
        transform: rotate(90deg);
    }
    &__border-bottom {
        top: 80px;
    }
    &__blur-border {
        width: 14.1rem;
        height: 14.1rem;
        border: 1px solid $lightning-text;
        opacity: 0.1;
        position: absolute;
        top: 0;
        left: 0;
        &--sm {
            width: 7.8rem;
            height: 7.8rem;
        }
    }
    &__hover-bottom{
        position: absolute;
        width: 5rem;
        height: 14rem;
        left: 45px;
        top: 45px;
        background: linear-gradient(90deg, $lightning-text 0%, rgba(139, 227, 255, 0) 100%);
        opacity: 0.3;
        transform: matrix(0, -1, -1, 0, 0, 0);
    }
    &__hover-top {
        position: absolute;
        width: 5rem;
        height: 14rem;
        left: 45px;
        top: -45px;
        background: linear-gradient(90deg, $lightning-text 0%, rgba(139, 227, 255, 0) 100%);
        opacity: 0.3;
        transform: rotate(90deg);
    }
    &__ellipse {
        position: absolute;
        width: 12.5rem;
        height: 12.5rem;
        left: 8px;
        top: 8px;
        background: radial-gradient(50% 50% at 50% 50%, $lightning-text 0%, rgba(139, 227, 255, 0) 100%);
        opacity: 0.3;
        z-index: -1;
    }
    &__stroke {
        position: absolute;
        width: 6px;
        height: 6px;
        &--sm {
            width: 3.34px;
            height: 3.34px;
            & ~ .character-item__stroke--4 {
                left: 75px;
            }
        }
        &--1 {
            left: 0px;
            top: 0px;
            border-top: 1px solid #257088;
            border-left: 1px solid #257088;
            &--lightning {
                border-top: 1px solid $lightning-text;
                border-left: 1px solid $lightning-text;
            }
        }
        &--2 {
            left: 135px;
            top: 0px;
            border-top: 1px solid #257088;
            border-right: 1px solid #257088;
            &--lightning {
                border-top: 1px solid $lightning-text;
                border-right: 1px solid $lightning-text;
            }
        }
        &--3 {
            left: 0px;
            bottom: 0px;
            border-bottom: 1px solid #257088;
            border-left: 1px solid #257088;
            &--lightning {
                border-bottom: 1px solid $lightning-text;
                border-left: 1px solid $lightning-text;
            }
        }
        &--4 {
            left: 135px;
            bottom: 0px;
            border-bottom: 1px solid #257088;
            border-right: 1px solid #257088;
            &--lightning {
                border-bottom: 1px solid $lightning-text;
                border-right: 1px solid $lightning-text;
            }
        }
    }
    &__coming-soon {
        width: 13.2rem;
        height: 13.2rem;
        position: relative;
        .coming-male {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .coming-female {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    &__coming-text {
        position: absolute;
        width: 11rem;
        height: 3rem;
        left: 15.4px;
        top: 53.76px;
        font-style: italic;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #578594;
        transform: rotate(-30deg);
    }
    &__check-mark {
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        right: 0.6rem;
        top: 0.6rem;
        background: #0A88B0;
        &__icon {
            position: absolute;
            z-index: 2;
            top: 5.28px;
            left: 4.28px;
        }
        &__border {
            position: absolute;
            width: 1.6rem;
            height: 1.6rem;
            left: 0%;
            right: 0%;
            top: 0%;
            bottom: 0%;
            background: #0A88B0;
            border: 1px solid #8BE3FF;
            border-radius: 50%;
        }
    }
}