.header {
  width: 1440px;
  margin: 0 auto;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}
.header__text {
  width: 267px;
  height: 30px;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1.355em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__line {
  position: absolute;
  width: 100%;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__blur-background {
  position: absolute;
  width: 405px;
  height: 34px;
  left: 518px;
  top: 27.5px;
}

.main {
  width: 1440px;
  height: calc(100vh - 6rem);
  margin: 0 auto;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-left {
  width: 24rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.main-left__tabs {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  line-height: 1.7;
  position: relative;
}
.main-left__tabs-border-bottom {
  position: absolute;
  width: 240px;
  height: 1px;
  left: 0px;
  top: 32px;
  background: #304752;
  z-index: -1;
}
.main-left__tabs-characters, .main-left__tabs-ship {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-left__tabs-characters p, .main-left__tabs-ship p {
  margin-left: 0.5rem;
  font-weight: 600;
  color: #E5E5E5;
  text-transform: uppercase;
}
.main-left__tabs-characters__border, .main-left__tabs-ship__border {
  position: absolute;
  width: 127px;
  height: 4px;
  left: 0px;
  bottom: -10px;
  background: linear-gradient(90deg, #0A88B0 0%, #8BE3FF 100%);
  border-radius: 16px;
}
.main-left__tabs-characters p {
  color: #8BE3FF;
}
.main-left__tabs-ship {
  justify-content: flex-end;
}
.main-left__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 4rem;
}
.main-center {
  width: 47rem;
  height: 100%;
  padding-top: 4rem;
}
.main-center__show {
  position: relative;
  display: flex;
}
.main-center__show-asset {
  position: absolute;
  width: 36rem;
  height: 36rem;
  left: calc((100% - 360px) / 2);
  opacity: 0.3;
  z-index: -1;
}
.main-center__show-ellipse {
  position: absolute;
  width: 342.61px;
  height: 108.37px;
  left: 55.83px;
  top: 479.44px;
  background: #8BE3FF;
  opacity: 0.15;
  filter: blur(2.75689px);
  border-radius: 80%;
  z-index: -1;
}
.main-center__show-blur-4 {
  position: absolute;
  width: 382.17px;
  height: 293.51px;
  left: 41.27px;
  top: 319.49px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.08) 100%);
  filter: blur(38.3114px);
  z-index: -3;
}
.main-center__show-blur-1 {
  position: absolute;
  width: 445.51px;
  height: 464.11px;
  left: 9.85px;
  top: 111.1px;
  background: linear-gradient(180deg, rgba(139, 227, 255, 0) 0%, #00C1FF 100%);
  opacity: 0.2;
  filter: blur(37.2168px);
  z-index: -1;
}
.main-center__show-blur-2 {
  position: absolute;
  width: 338.23px;
  height: 0px;
  left: 63.49px;
  top: 110.56px;
  z-index: -1;
  background: linear-gradient(180deg, rgba(139, 227, 255, 0) 0%, #00C1FF 100%);
  opacity: 0.2;
  filter: blur(37.2168px);
  z-index: -2;
}
.main-center__show-blur-3 {
  position: absolute;
  width: 204.69px;
  height: 270.37px;
  left: 130.26px;
  top: 304.3px;
  background: linear-gradient(180deg, rgba(139, 227, 255, 0) 0%, #00C1FF 100%);
  opacity: 0.5;
  filter: blur(37.2168px);
}
.main-right {
  width: calc(100% - 47rem - 24rem - 8rem);
  height: 100%;
  padding-top: 7.5rem;
}
.main-right__details {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 45.6rem;
  margin-left: auto;
  margin-right: 1rem;
  color: white;
}
.main-right__details-race {
  width: 16.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 1.6rem;
}
.main-right__details-race__text {
  font-size: 2.8rem;
  line-height: 36px;
  font-weight: 500;
}
.main-right__details-race__dot {
  width: 7.78px;
  height: 7.78px;
  background: linear-gradient(135deg, #8BE3FF 0%, #0A88B0 100%);
  transform: rotate(45deg);
}
.main-right__details-race__dot:before {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  width: 3.88px;
  height: 3.88px;
  border-top: 0.5px solid #8BE3FF;
  border-left: 0.5px solid #8BE3FF;
  opacity: 0.3;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.main-right__details-race__dot:after {
  content: "";
  position: absolute;
  width: 3.88px;
  height: 3.88px;
  bottom: -2px;
  right: 6px;
  border-bottom: 1px solid #8BE3FF;
  border-right: 1px solid #8BE3FF;
  opacity: 0.3;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.main-right__details-info {
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 4.8rem;
}
.main-right__details-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 1rem;
}
.main-right__details-label__text {
  height: 22px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.49em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 1.6rem;
}
.main-right__details-label__line {
  position: relative;
  width: 165px;
  height: 1px;
  background: linear-gradient(270deg, #257088 0%, rgba(37, 112, 136, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.main-right__details-label__line-dot {
  position: absolute;
  width: 4.38px;
  height: 4.38px;
  left: 165px;
  top: -1px;
  background: #246D85;
  transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
}
.main-right__details-gender {
  margin-bottom: 4.5rem;
}
.main-right__details-gender__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0 16px;
}
.main-right__details-class__list {
  width: 36rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0 16px;
}

.character-item {
  width: 14rem;
  height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  margin-bottom: 1.5rem;
}
.character-item--sm {
  width: 7.8rem;
  height: 7.8rem;
}
.character-item__blur-background {
  position: absolute;
  width: 13.2rem;
  height: 13.2rem;
  left: 4px;
  top: 4px;
  background: #8BE3FF;
  opacity: 0.1;
  z-index: -1;
}
.character-item__blur-background--sm {
  width: 7.2rem;
  height: 7.2rem;
  top: 3px;
  left: 3px;
}
.character-item__border-top, .character-item__border-bottom {
  position: absolute;
  width: 1px;
  height: 120px;
  left: 70px;
  top: -60px;
  background: #8BE3FF;
  transform: rotate(90deg);
}
.character-item__border-bottom {
  top: 80px;
}
.character-item__blur-border {
  width: 14.1rem;
  height: 14.1rem;
  border: 1px solid #8BE3FF;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
}
.character-item__blur-border--sm {
  width: 7.8rem;
  height: 7.8rem;
}
.character-item__hover-bottom {
  position: absolute;
  width: 5rem;
  height: 14rem;
  left: 45px;
  top: 45px;
  background: linear-gradient(90deg, #8BE3FF 0%, rgba(139, 227, 255, 0) 100%);
  opacity: 0.3;
  transform: matrix(0, -1, -1, 0, 0, 0);
}
.character-item__hover-top {
  position: absolute;
  width: 5rem;
  height: 14rem;
  left: 45px;
  top: -45px;
  background: linear-gradient(90deg, #8BE3FF 0%, rgba(139, 227, 255, 0) 100%);
  opacity: 0.3;
  transform: rotate(90deg);
}
.character-item__ellipse {
  position: absolute;
  width: 12.5rem;
  height: 12.5rem;
  left: 8px;
  top: 8px;
  background: radial-gradient(50% 50% at 50% 50%, #8BE3FF 0%, rgba(139, 227, 255, 0) 100%);
  opacity: 0.3;
  z-index: -1;
}
.character-item__stroke {
  position: absolute;
  width: 6px;
  height: 6px;
}
.character-item__stroke--sm {
  width: 3.34px;
  height: 3.34px;
}
.character-item__stroke--sm ~ .character-item__stroke--4 {
  left: 75px;
}
.character-item__stroke--1 {
  left: 0px;
  top: 0px;
  border-top: 1px solid #257088;
  border-left: 1px solid #257088;
}
.character-item__stroke--1--lightning {
  border-top: 1px solid #8BE3FF;
  border-left: 1px solid #8BE3FF;
}
.character-item__stroke--2 {
  left: 135px;
  top: 0px;
  border-top: 1px solid #257088;
  border-right: 1px solid #257088;
}
.character-item__stroke--2--lightning {
  border-top: 1px solid #8BE3FF;
  border-right: 1px solid #8BE3FF;
}
.character-item__stroke--3 {
  left: 0px;
  bottom: 0px;
  border-bottom: 1px solid #257088;
  border-left: 1px solid #257088;
}
.character-item__stroke--3--lightning {
  border-bottom: 1px solid #8BE3FF;
  border-left: 1px solid #8BE3FF;
}
.character-item__stroke--4 {
  left: 135px;
  bottom: 0px;
  border-bottom: 1px solid #257088;
  border-right: 1px solid #257088;
}
.character-item__stroke--4--lightning {
  border-bottom: 1px solid #8BE3FF;
  border-right: 1px solid #8BE3FF;
}
.character-item__coming-soon {
  width: 13.2rem;
  height: 13.2rem;
  position: relative;
}
.character-item__coming-soon .coming-male {
  position: absolute;
  bottom: 0;
  left: 0;
}
.character-item__coming-soon .coming-female {
  position: absolute;
  bottom: 0;
  right: 0;
}
.character-item__coming-text {
  position: absolute;
  width: 11rem;
  height: 3rem;
  left: 15.4px;
  top: 53.76px;
  font-style: italic;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #578594;
  transform: rotate(-30deg);
}
.character-item__check-mark {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  right: 0.6rem;
  top: 0.6rem;
  background: #0A88B0;
}
.character-item__check-mark__icon {
  position: absolute;
  z-index: 2;
  top: 5.28px;
  left: 4.28px;
}
.character-item__check-mark__border {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #0A88B0;
  border: 1px solid #8BE3FF;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
